.button-component {
  height: 70px;
  /* width: 470px; */
  width: 100%;
  padding: 20px, 54px, 20px, 54px;
  border: none;
  background-color: #1F27F5;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
  
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* .feedback-button {
  width: 40px;
  height: 40px;
  border: none;
  background-size: cover;
  background-color: white;
}

.like {
  background-image: url("./img/like.png");
}

.dislike {
  background-image: url("./img/dislike.png");
}

.cleaning {
  background-image: url("./img/cleaning.png");
} */
